<% provide(:title, @club.name) %>
<% provide(:link, 'Add event') %>
<% provide(:link_path, new_event_path(@club)) %>
<% provide(:show_link, true) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @club %>
	      <%= @club.name %>
      </h1>
      <span class="timestamp">
    	  <%= @club.address %>
      </span>
    </section>
  </aside>
  <div class="span8">
    <% if @club.events.any? %>
      <h3>Events (<%= @club.events.count %>)</h3>
      <ol class="events">
        <%= render @events %>
      </ol>
      <%= will_paginate @events %>
    <% end %>
  </div>
</div>