<% provide(:title, @club.name) %>
<div class="row">
  <aside class="span4">
    <section>
        <%= gravatar_for @club %>
	      <h1><%= @club.name %></h1>
        <span><%= @club.address %></span>
    </section>
  </aside>
  <div class="span8">
    
    <% if event_button?(@club.events.first, Time.now.to_datetime) %>
      <%= link_to "Create event", new_event_path(@club), class: "btn btn-large btn-primary btn-large-partymeter" %>
    <% else %>
      <h3>Today's event</h3>
      <ol class="events">
        <li>
          <span class="content"><%= @club.events.first.name %></span>
          <span class="timestamp"><%= @club.events.first.description %></span>
        </li>
      </ol>
      
      <div class="btn-group">
        <%= link_to "Thumb up", thumbup_event_path(@club, @club.events.first), class: "btn btn-large btn-primary" %>
        <%= link_to "Thumb down", thumbdown_event_path(@club, @club.events.first), class: "btn btn-large btn-primary" %>
        <%= link_to "Comment", new_comment_path(event_id: @club.events.first.id), class: "btn btn-large btn-primary"%>
      </div>
      
      <% if @club.events.first.comments.any? %>
        <h3>Comments (<%= @club.events.first.comments.count %>)</h3>
        <ol class="comments">
          <%= render @comments %>
        </ol>
      <% end %>
  
    <% end %>
  </div>
</div>
