<% provide(:title, @club.name) %>
<% provide(:link, 'Add event') %>
<% provide(:link_path, new_event_path(@club)) %>
<% provide(:show_link, true) %>
<div class="row">
  <aside class="span4">
    <section>
      <section>
        <%= gravatar_for @club %>
	      <h1><%= @club.name %></h1>
        <span><%= @club.address %></span>
      </section>
      <% if event_button?(@club.events.first, Time.now.to_datetime) %>
        <section>
          <%= link_to "Add new event", '#', class: "btn btn-large btn-primary" %>
        </section>
      <% end %>
    </section>
  </aside>
  <div class="span8">
    <% if @club.events.any? %>
      <h3>Events (<%= @club.events.count %>)</h3>
      <ol class="events">
        <%= render @events %>
      </ol>
      <%= will_paginate @events %>
    <% end %>
  </div>
</div>