<!-- Modal -->
<div id="myModal" class="modal" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-header">
    <h3 id="myModalLabel">Add comment</h3>
  </div>

  <%= form_for(@comment) do |f| %>
    <div class="modal-body">
      <%= render 'shared/error_messages', object: f.object %>
          <%= f.label :author %>
          <%= f.text_field :author %>
          
          <%= f.label :content %>
          <%= f.text_area :content, placeholder: "Compose new comment...", size: "40x4" %>
        
          <%= f.hidden_field :event_id, value: @comment.event.id %>  
    </div>
    <div class="modal-footer modal-footer-add-comment">
      <%= link_to "Close", city_club_path(@comment.event.club.city, @comment.event.club), style: "width: 37%", class: "btn btn-large"%>
      <%= f.submit "Add comment", class: "btn btn-large btn-primary", style: "width: 48%" %>
    </div>
  <% end %>
</div>