 <header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
 
      <!-- Be sure to leave the brand out there if you want it shown -->
      <%= link_to "Partymeter", root_path, id: "logo" %>
 
      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse">
        <!-- .nav, .navbar-search, .navbar-form, etc -->
        <nav>
          <ul class="nav pull-right">
            <li><%= link_to "Home", root_path  %></li>
            <% if show_header_link?(yield(:show_link)) %>
              <li>
                <%= link_to yield(:link), yield(:link_path) %>
              </li>
            <% end %>
            <li><%= link_to "Help",    help_path  %></li>
            <li><%= link_to "About",    about_path  %></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>